* {
    font-family: Jetbrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 20px;
}

body {
    color: blanchedalmond;
    background-color: #010718;
}

.image {
    border-radius: 100px;
    border-color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

.container.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.caption {
    display: block;
}

