* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jetbrains Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 100px;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #010718;
    overflow: hidden;
}

.container .text {
    position: relative;
    color: #4070F4;
    font-size: 70px;
    font-weight: 300;
}

.container .text.first-text {
    color: white;
}

.text.second-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 3px solid #4070F4;
    animation: animate 4s steps(12) 2; // 2
}

@keyframes animate {
    40%, 60% {
        left: calc(100% + 4px);
    }
    100% {
        left: 0;
    }
}